// Colors
$green: #b9ff66;
$black: #191a23;
$grey: #f3f3f3;
$white: #ffff;

//Typography - mobile
$size-h1: 43px;
$size-h2: 36px;
$size-h3: 26px;
$size-h4: 18px;
$size-p: 16px;

//Typography - desktop
$size-h1-desktop: 60px;
$size-h2-desktop: 40px;
$size-h3-desktop: 30px;
$size-h4-desktop: 20px;
$size-p-desktop: 18px;

//Media query breakpoints
$breakpoint-sm: 319px;
$breakpoint-md: 767px;
$breakpoint-lg: 979px;
$breakpoint-xl: 1200px;
